@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@700&family=Roboto+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-mono: "Roboto Mono", monospace;

  --color-midnight-obsidian: #0F172A;
  --color-deep-slate-onyx: #1E293B;
  --color-premium-indigo: #4F46E5;
  --color-deep-sapphire: #312E81;
  --color-glareless-slate-light: #F8FAFC;
  --color-cool-accent-gray: #E2E8F0;
  
  --color-jade-emerald: #059669;
  --color-muted-amber: #D97706;
  --color-deep-burgundy: #991B1B;
}

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
